BasedOnStyle: Microsoft


BreakBeforeBraces: Custom
BraceWrapping:
  AfterControlStatement: false
  AfterFunction: false
  AfterClass: false
  AfterStruct: false
  AfterEnum: false
  AfterNamespace: false
  BeforeElse: false
  BeforeCatch: false
  IndentBraces: false
PointerAlignment: Left
ReferenceAlignment: Left